#sound-container {
    display: flex;
}

.search {
    margin-bottom: 15px;
}

.avail-songs {
    flex: 1;
    display: flex;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    flex-direction: column;
}

.avail-songs button {
    background-color: lightgreen;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.music-container {
    flex: 2;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
}

.music-info {
    display: flex;
    justify-content: center;
}

#song-title {
    font-size: 20px;
}

.img-container {
    display: flex;
    justify-content: center;
}

.music-nav {
    display: flex;
    justify-content: center;
}
